<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chapp</title>
    <link rel="shortcut icon" href="/images/icon_chapp.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/page-landing.css" />
    <link rel="stylesheet" href="/css/animations.css" />
  </head>
  <body>
    <div id="page-landing">
      <!--INICIO DA CAIXA CONTAINER-->
      <div id="container">
        <!--INICIO TAGS HEADER-->
        <header>
        <a href="/"><img id="logo" class="animate-up" src="/images/logo-2.svg" alt="logo so site happy" /></a>
          <div class="location animate-up" >
            <strong>Chapp</strong>
            <!--OBSERVAÇÕES: tags <strong> é inline e não ocupam a linha inteira como as block-->
            <p>Facilit</p>
          </div>
        </header>
        <!--INICIO TAG MAIN-->
        <main>
          <h1 class="animate-up">Facilitamos tudo pra você</h1>

          <section class="visit">
            <p class="animate-up">Encontre a pessoa certa pra te ajudar!</p>
        

            <a href="/cadastrados" title="Visite nossa SEDE" class="animate-up btnColor"
              ><img src="/images/arrow.svg" alt="ir para o mapa"
            /></a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
